.list
    .container
        .shop-top-bar
            .top-btn
                ul
                    li
                        a(href="#")#grid
                    li
                        a.active(href="#")#list
            .top-sorter
                .sorter
                    label(for="#") Sort by: 
                    select#sorby(name="SortBy")
                        option(value="manual") Fetured
                        option(value="best-selling") Best-selling
                        option(value="title-ascending") Alphabetically, A-Z
                        option(value="Title-descending") Alphabetically, Z-A
                        option(value="price-ascending") Price, low to high
                        option(value="price-descending") Price, high to low
                        option(value="created-ascending") Date, new to old
                        option(value="created-descending") Date, old to new
            .top-amount
                p Showing 1 - 9 of 10 result
        #list-product.list-product
            .single-product
                .image
                    figure
                        a(href="single.html")
                            img(src="./image/product-1.jpg", alt="")
                    span.discount -35%
                    .action
                        a(href="#" title="Quick view")
                            i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                    .name
                        h4 
                            a(href="single.html") Foxglove Flower
                    .price
                        span.new $19.00
                        span.old $36.00
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    ul.action-link
                        li
                            a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                        li
                            a(href="#" title="Wishlist")
                                i.fas.fa-heart
                        li
                            a(href="#" title="Compare")
                                i.fas.fa-sliders-h
            .single-product
                .image
                    figure
                        a(href="single.html")
                            img(src="./image/product-2.jpg", alt="")
                    span.discount -35%
                    .action
                        a(href="#" title="Quick view")
                            i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                    .name
                        h4 
                            a(href="single.html") Foxglove Flower
                    .price
                        span.new $19.00
                        span.old $36.00
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    ul.action-link
                        li
                            a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                        li
                            a(href="#" title="Wishlist")
                                i.fas.fa-heart
                        li
                            a(href="#" title="Compare")
                                i.fas.fa-sliders-h
            .single-product
                .image
                    figure
                        a(href="single.html")
                            img(src="./image/product-3.jpg", alt="")
                    span.discount -35%
                    .action
                        a(href="#" title="Quick view")
                            i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                    .name
                        h4 
                            a(href="single.html") Foxglove Flower
                    .price
                        span.new $19.00
                        span.old $36.00
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    ul.action-link
                        li
                            a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                        li
                            a(href="#" title="Wishlist")
                                i.fas.fa-heart
                        li
                            a(href="#" title="Compare")
                                i.fas.fa-sliders-h
            .single-product
                .image
                    figure
                        a(href="single.html")
                            img(src="./image/product-4.jpg", alt="")
                    span.discount -35%
                    .action
                        a(href="#" title="Quick view")
                            i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                    .name
                        h4 
                            a(href="single.html") Foxglove Flower
                    .price
                        span.new $19.00
                        span.old $36.00
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    ul.action-link
                        li
                            a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                        li
                            a(href="#" title="Wishlist")
                                i.fas.fa-heart
                        li
                            a(href="#" title="Compare")
                                i.fas.fa-sliders-h
            .single-product
                .image
                    figure
                        a(href="single.html")
                            img(src="./image/product-5.jpg", alt="")
                    span.discount -35%
                    .action
                        a(href="#" title="Quick view")
                            i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                    .name
                        h4 
                            a(href="single.html") Foxglove Flower
                    .price
                        span.new $19.00
                        span.old $36.00
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    ul.action-link
                        li
                            a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                        li
                            a(href="#" title="Wishlist")
                                i.fas.fa-heart
                        li
                            a(href="#" title="Compare")
                                i.fas.fa-sliders-h
            .single-product
                .image
                    figure
                        a(href="single.html")
                            img(src="./image/product-6.jpg", alt="")
                    span.discount -35%
                    .action
                        a(href="#" title="Quick view")
                            i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                    .name
                        h4 
                            a(href="single.html") Foxglove Flower
                    .price
                        span.new $19.00
                        span.old $36.00
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    ul.action-link
                        li
                            a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                        li
                            a(href="#" title="Wishlist")
                                i.fas.fa-heart
                        li
                            a(href="#" title="Compare")
                                i.fas.fa-sliders-h
            .single-product
                .image
                    figure
                        a(href="single.html")
                            img(src="./image/product-7.jpg", alt="")
                    span.discount -35%
                    .action
                        a(href="#" title="Quick view")
                            i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                    .name
                        h4 
                            a(href="single.html") Foxglove Flower
                    .price
                        span.new $19.00
                        span.old $36.00
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    ul.action-link
                        li
                            a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                        li
                            a(href="#" title="Wishlist")
                                i.fas.fa-heart
                        li
                            a(href="#" title="Compare")
                                i.fas.fa-sliders-h
            .single-product
                .image
                    figure
                        a(href="single.html")
                            img(src="./image/product-8.jpg", alt="")
                    span.discount -35%
                    .action
                        a(href="#" title="Quick view")
                            i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                    .name
                        h4 
                            a(href="single.html") Foxglove Flower
                    .price
                        span.new $19.00
                        span.old $36.00
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    ul.action-link
                        li
                            a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                        li
                            a(href="#" title="Wishlist")
                                i.fas.fa-heart
                        li
                            a(href="#" title="Compare")
                                i.fas.fa-sliders-h
            .single-product
                .image
                    figure
                        a(href="single.html")
                            img(src="./image/product-9.jpg", alt="")
                    span.discount -35%
                    .action
                        a(href="#" title="Quick view")
                            i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                            li
                                a(href="#")
                                    i.fas.fa-star
                    .name
                        h4 
                            a(href="single.html") Foxglove Flower
                    .price
                        span.new $19.00
                        span.old $36.00
                    p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    ul.action-link
                        li
                            a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                        li
                            a(href="#" title="Wishlist")
                                i.fas.fa-heart
                        li
                            a(href="#" title="Compare")
                                i.fas.fa-sliders-h
        #grid-product.grid-product.hiden           
            .single-product
                .image
                    figure
                        img(src="./image/product-1.jpg", alt="")
                    span.soldout Soldout
                    .icon
                        ul
                            li
                                a(href="cart.html")
                                    i.fas.fa-briefcase 
                            li
                                a(href="compare.html")
                                    i.fas.fa-sliders-h
                            li
                                a(href="wishlist")
                                    i.fas.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                    .name
                        h4
                            a(href="#") Sweet Alyssum
                    .price
                        span.new $50.00
                        span.old $50.00 
            .single-product
                .image
                    figure
                        img(src="./image/product-2.jpg", alt="")
                    
                    .icon
                        ul
                            li
                                a(href="cart.html")
                                    i.fas.fa-briefcase 
                            li
                                a(href="compare.html")
                                    i.fas.fa-sliders-h
                            li
                                a(href="wishlist")
                                    i.fas.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                    .name
                        h4
                            a(href="#") Sweet Alyssum
                    .price
                        span.new $50.00
                        span.old $50.00 
            .single-product
                .image
                    figure
                        img(src="./image/product-3.jpg", alt="")
                    
                    span.discount -34%
                    .icon
                        ul
                            li
                                a(href="cart.html")
                                    i.fas.fa-briefcase 
                            li
                                a(href="compare.html")
                                    i.fas.fa-sliders-h
                            li
                                a(href="wishlist")
                                    i.fas.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-eye
                    .countdown
                        .single-count
                            span.count 00
                            p Days
                        .single-count
                            span.count 00
                            p Hour
                        .single-count
                            span.count 00
                            p Min
                        .single-count
                            span.count 00
                            p Sec
                .product-content
                    .vote
                        ul
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                    .name
                        h4
                            a(href="#") Sweet Alyssum
                    .price
                        span.new $50.00
                        span.old $50.00 
            .single-product
                .image
                    figure
                        img(src="./image/product-4.jpg", alt="")
                    span.discount -40%
                    .icon
                        ul
                            li
                                a(href="cart.html")
                                    i.fas.fa-briefcase 
                            li
                                a(href="compare.html")
                                    i.fas.fa-sliders-h
                            li
                                a(href="wishlist")
                                    i.fas.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-eye
                    .countdown
                        .single-count
                            span.count 00
                            p Days
                        .single-count
                            span.count 00
                            p Hour
                        .single-count
                            span.count 00
                            p Min
                        .single-count
                            span.count 00
                            p Sec

                .product-content
                    .vote
                        ul
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                    .name
                        h4
                            a(href="#") Sweet Alyssum
                    .price
                        span.new $50.00
                        span.old $50.00 
            .single-product
                .image
                    figure
                        img(src="./image/product-5.jpg", alt="")
                    
                    .icon
                        ul
                            li
                                a(href="cart.html")
                                    i.fas.fa-briefcase 
                            li
                                a(href="compare.html")
                                    i.fas.fa-sliders-h
                            li
                                a(href="wishlist")
                                    i.fas.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                    .name
                        h4
                            a(href="#") Sweet Alyssum
                    .price
                        span.new $50.00
                        span.old $50.00 
            .single-product
                .image
                    figure
                        img(src="./image/product-6.jpg", alt="")
                    
                    .icon
                        ul
                            li
                                a(href="cart.html")
                                    i.fas.fa-briefcase 
                            li
                                a(href="compare.html")
                                    i.fas.fa-sliders-h
                            li
                                a(href="wishlist")
                                    i.fas.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                    .name
                        h4
                            a(href="#") Sweet Alyssum
                    .price
                        span.new $50.00
                        span.old $50.00 
            .single-product
                .image
                    figure
                        img(src="./image/product-7.jpg", alt="")
                    
                    .icon
                        ul
                            li
                                a(href="cart.html")
                                    i.fas.fa-briefcase 
                            li
                                a(href="compare.html")
                                    i.fas.fa-sliders-h
                            li
                                a(href="wishlist")
                                    i.fas.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                    .name
                        h4
                            a(href="#") Sweet Alyssum
                    .price
                        span.new $50.00
                        span.old $50.00 
            .single-product
                .image
                    figure
                        img(src="./image/product-8.jpg", alt="")
                    
                    .icon
                        ul
                            li
                                a(href="cart.html")
                                    i.fas.fa-briefcase 
                            li
                                a(href="compare.html")
                                    i.fas.fa-sliders-h
                            li
                                a(href="wishlist")
                                    i.fas.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                    .name
                        h4
                            a(href="#") Sweet Alyssum
                    .price
                        span.new $50.00
                        span.old $50.00 
            .single-product
                .image
                    figure
                        img(src="./image/product-9.jpg", alt="")
                    span.soldout Soldout
                    .icon
                        ul
                            li
                                a(href="cart.html")
                                    i.fas.fa-briefcase 
                            li
                                a(href="compare.html")
                                    i.fas.fa-sliders-h
                            li
                                a(href="wishlist")
                                    i.fas.fa-heart
                            li
                                a(href="#")
                                    i.fas.fa-eye
                .product-content
                    .vote
                        ul
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                            li
                                i.fas.fa-star
                    .name
                        h4
                            a(href="#") Sweet Alyssum
                    .price
                        span.new $50.00
                        span.old $50.00 
        .shop-bot-bar
            ul
                li
                    a.prev(href="#") Prev
                li
                    a.active(href="#") 1
                li
                    a(href="#") 2
                li
                    a(href="#") 3
                li
                    a.next(href="#") Next

script.
    $('#grid').click(function(){
        $('#grid').addClass('active')
        $('#list').removeClass('active');
        $('#grid-product').removeClass('hiden');
        $('#list-product').addClass('hiden');
    })
     $('#list').click(function(){
        $('#list').addClass('active')
        $('#grid').removeClass('active');
         $('#grid-product').addClass('hiden');
        $('#list-product').removeClass('hiden');
    })