.footer
    .container
        .footer-area
            .small
                .widget
                    a.logo-footer(href="index.pug")
                        img(src="./image/logo-white.png", alt="")
                    p A perfect blend of creativity, energy, communication, happiness and love. Let us arrange a smile for you.
                    .social
                        ul
                            li
                                a(href="#")
                                    i.fab.fa-facebook-f
                            li
                                a(href="#")
                                    i.fab.fa-twitter
                            li
                                a(href="#")
                                    i.fab.fa-google-plus-g
                            li
                                a(href="#")
                                    i.fab.fa-youtube
                .widget
                    h4.footer-title infomation
                    .footer-menu
                        ul
                            li
                                a(href="#") Serchs Terms
                            li
                                a(href="#") Advanced Serchs 
                            li
                                a(href="#") Helps & Faqs
                            li
                                a(href="#") Store Location
                            li
                                a(href="#") Order & Returns
            .small-3
                .widget
                    h4.footer-title my account
                    .footer-menu
                        ul
                            li
                                a(href="#") Delivery
                            li
                                a(href="#") Legal Notice 
                            li
                                a(href="#") Secure Payment
                            li
                                a(href="#") Sitemap
                            li
                                a(href="#") About us
                .widget
                    h4.footer-title Help
                    .footer-menu
                        ul
                            li
                                a(href="#") FAQ's
                            li
                                a(href="#") Pricing Plans
                            li
                                a(href="#") Track
                            li
                                a(href="#") Your Order
                            li
                                a(href="#") Returns
                .widget
                    h4.footer-title customer service
                    .footer-menu
                        ul
                            li
                                a(href="#") My Account
                            li
                                a(href="#") Terms of Use 
                            li
                                a(href="#") Deliveries $ Return
                            li
                                a(href="#") Gift Cart
                            li
                                a(href="#") Legal Notice
.copy-right
    .container
        .right-content
            p 
                | Copyright 2020 © 
                a(href="https://hasthemes.com/") HasThemes
                |  . All Rights Reserved
        .payment
            a(href="#")
                img(src="./image/payment.png", alt="")
                        
    

                            