.news-letter.pd5
    .container
        .news-letter-form
            .section-title
                h2 Join The Colorful Bunch!
            .form
                input(type="text" placeholder=" Your email address")
                button Subscribe
                i.far.fa-envelope