.link
    .container
        .row
            .link-area
                h2.title Products
                ol
                    li
                        a(href="index.pug") Home
                    li.pdl Products