.suprise.pd4
    .container
        .suprise-container
            .image
                img(src="./image/about.jpg", alt="")
            .suprise-content
                .about
                    h2.title Suprise Your Valentine! Let us arrange a smile For Her.
                    p Where flowers are our inspiration to create lasting memories. Whatever the occasion inspiration to create lasting memories....
                    ul
                        li  Hand picked just for you. 
                        li  Hand picked just for you. 
                        li  Hand picked just for. 
                    .suprise-btn
                        a(href="#").btn More Details