.shipping
    .container 
        .row
            .col-sm-3
                .single-shipping
                    .icon
                        img(src="./image/Free-Delivery.png", alt="")
                    .content
                        h5 Free Delivery
                        p Free shipping around the world for all orders over $120
            .col-sm-3
                .single-shipping
                    .icon
                        img(src="./image/Online-Order.png", alt="")
                    .content
                        h5 Online Order
                        p Don’t worry you can order Online by our Site
            .col-sm-3
                .single-shipping
                    .icon
                        img(src="./image/Freshness.png", alt="")
                    .content
                        h5 Freshess
                        p You have freshness flowers every single order
            .col-sm-3
                .single-shipping
                    .icon
                        img(src="./image/Made-By-Artists.png", alt="")
                    .content
                        h5 Made By Artists
                        p World for all made by artists orders over now
