.empty
    .container
        .empty-content
            h2 Shopping Cart
            .empty-cart
                img(src="./image/cart.png", alt="")
            p Your Cart Is Currently Empty!
            a(href="shop-grid-left-sidebar.html" target="_blank") 
                i.fas.fa-angle-left
                |  Continue browsing