.grid
    .container
        .row
            .col-9
                .shop-banner
                    a(href="#")
                        img(src="./image/banner-1.jpg", alt="")
                .shop-top-bar
                    .top-btn
                        ul
                            li
                                a(href="#")#grid
                            li
                                a.active(href="#")#list
                    .top-sorter
                        .sorter
                            label(for="#") Sort by: 
                            select#sorby(name="SortBy")
                                option(value="manual") Fetured
                                option(value="best-selling") Best-selling
                                option(value="title-ascending") Alphabetically, A-Z
                                option(value="Title-descending") Alphabetically, Z-A
                                option(value="price-ascending") Price, low to high
                                option(value="price-descending") Price, high to low
                                option(value="created-ascending") Date, new to old
                                option(value="created-descending") Date, old to new
                    .top-amount
                        p Showing 1 - 9 of 10 result
                #grid-product.grid-product           
                    .single-product
                        .image
                            figure
                                img(src="./image/product-1.jpg", alt="")
                            span.soldout Soldout
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .single-product
                        .image
                            figure
                                img(src="./image/product-2.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .single-product
                        .image
                            figure
                                img(src="./image/product-3.jpg", alt="")
                            
                            span.discount -34%
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                            .countdown
                                .single-count
                                    span.count 00
                                    p Days
                                .single-count
                                    span.count 00
                                    p Hour
                                .single-count
                                    span.count 00
                                    p Min
                                .single-count
                                    span.count 00
                                    p Sec
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .single-product
                        .image
                            figure
                                img(src="./image/product-4.jpg", alt="")
                            span.discount -40%
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                            .countdown
                                .single-count
                                    span.count 00
                                    p Days
                                .single-count
                                    span.count 00
                                    p Hour
                                .single-count
                                    span.count 00
                                    p Min
                                .single-count
                                    span.count 00
                                    p Sec

                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .single-product
                        .image
                            figure
                                img(src="./image/product-5.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .single-product
                        .image
                            figure
                                img(src="./image/product-6.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .single-product
                        .image
                            figure
                                img(src="./image/product-7.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .single-product
                        .image
                            figure
                                img(src="./image/product-8.jpg", alt="")
                            
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                    .single-product
                        .image
                            figure
                                img(src="./image/product-9.jpg", alt="")
                            span.soldout Soldout
                            .icon
                                ul
                                    li
                                        a(href="cart.html")
                                            i.fas.fa-briefcase 
                                    li
                                        a(href="compare.html")
                                            i.fas.fa-sliders-h
                                    li
                                        a(href="wishlist")
                                            i.fas.fa-heart
                                    li
                                        a(href="#")
                                            i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                                    li
                                        i.fas.fa-star
                            .name
                                h4
                                    a(href="#") Sweet Alyssum
                            .price
                                span.new $50.00
                                span.old $50.00 
                #list-product.list-product.hiden
                    .single-product
                        .image
                            figure
                                a(href="single.html")
                                    img(src="./image/product-1.jpg", alt="")
                            span.discount -35%
                            .action
                                a(href="#" title="Quick view")
                                    i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                            .name
                                h4 
                                    a(href="single.html") Foxglove Flower
                            .price
                                span.new $19.00
                                span.old $36.00
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                            ul.action-link
                                li
                                    a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                                li
                                    a(href="#" title="Wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#" title="Compare")
                                        i.fas.fa-sliders-h
                    .single-product
                        .image
                            figure
                                a(href="single.html")
                                    img(src="./image/product-2.jpg", alt="")
                            span.discount -35%
                            .action
                                a(href="#" title="Quick view")
                                    i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                            .name
                                h4 
                                    a(href="single.html") Foxglove Flower
                            .price
                                span.new $19.00
                                span.old $36.00
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                            ul.action-link
                                li
                                    a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                                li
                                    a(href="#" title="Wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#" title="Compare")
                                        i.fas.fa-sliders-h
                    .single-product
                        .image
                            figure
                                a(href="single.html")
                                    img(src="./image/product-3.jpg", alt="")
                            span.discount -35%
                            .action
                                a(href="#" title="Quick view")
                                    i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                            .name
                                h4 
                                    a(href="single.html") Foxglove Flower
                            .price
                                span.new $19.00
                                span.old $36.00
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                            ul.action-link
                                li
                                    a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                                li
                                    a(href="#" title="Wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#" title="Compare")
                                        i.fas.fa-sliders-h
                    .single-product
                        .image
                            figure
                                a(href="single.html")
                                    img(src="./image/product-4.jpg", alt="")
                            span.discount -35%
                            .action
                                a(href="#" title="Quick view")
                                    i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                            .name
                                h4 
                                    a(href="single.html") Foxglove Flower
                            .price
                                span.new $19.00
                                span.old $36.00
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                            ul.action-link
                                li
                                    a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                                li
                                    a(href="#" title="Wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#" title="Compare")
                                        i.fas.fa-sliders-h
                    .single-product
                        .image
                            figure
                                a(href="single.html")
                                    img(src="./image/product-5.jpg", alt="")
                            span.discount -35%
                            .action
                                a(href="#" title="Quick view")
                                    i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                            .name
                                h4 
                                    a(href="single.html") Foxglove Flower
                            .price
                                span.new $19.00
                                span.old $36.00
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                            ul.action-link
                                li
                                    a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                                li
                                    a(href="#" title="Wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#" title="Compare")
                                        i.fas.fa-sliders-h
                    .single-product
                        .image
                            figure
                                a(href="single.html")
                                    img(src="./image/product-6.jpg", alt="")
                            span.discount -35%
                            .action
                                a(href="#" title="Quick view")
                                    i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                            .name
                                h4 
                                    a(href="single.html") Foxglove Flower
                            .price
                                span.new $19.00
                                span.old $36.00
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                            ul.action-link
                                li
                                    a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                                li
                                    a(href="#" title="Wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#" title="Compare")
                                        i.fas.fa-sliders-h
                    .single-product
                        .image
                            figure
                                a(href="single.html")
                                    img(src="./image/product-7.jpg", alt="")
                            span.discount -35%
                            .action
                                a(href="#" title="Quick view")
                                    i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                            .name
                                h4 
                                    a(href="single.html") Foxglove Flower
                            .price
                                span.new $19.00
                                span.old $36.00
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                            ul.action-link
                                li
                                    a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                                li
                                    a(href="#" title="Wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#" title="Compare")
                                        i.fas.fa-sliders-h
                    .single-product
                        .image
                            figure
                                a(href="single.html")
                                    img(src="./image/product-8.jpg", alt="")
                            span.discount -35%
                            .action
                                a(href="#" title="Quick view")
                                    i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                            .name
                                h4 
                                    a(href="single.html") Foxglove Flower
                            .price
                                span.new $19.00
                                span.old $36.00
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                            ul.action-link
                                li
                                    a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                                li
                                    a(href="#" title="Wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#" title="Compare")
                                        i.fas.fa-sliders-h
                    .single-product
                        .image
                            figure
                                a(href="single.html")
                                    img(src="./image/product-9.jpg", alt="")
                            span.discount -35%
                            .action
                                a(href="#" title="Quick view")
                                    i.fas.fa-eye
                        .product-content
                            .vote
                                ul
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                                    li
                                        a(href="#")
                                            i.fas.fa-star
                            .name
                                h4 
                                    a(href="single.html") Foxglove Flower
                            .price
                                span.new $19.00
                                span.old $36.00
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                            ul.action-link
                                li
                                    a.add-cart(href="cart.html" title="Add to Cart") Add to cart
                                li
                                    a(href="#" title="Wishlist")
                                        i.fas.fa-heart
                                li
                                    a(href="#" title="Compare")
                                        i.fas.fa-sliders-h
                .shop-bot-bar
                    ul
                        li
                            a.prev(href="#") Prev
                        li
                            a.active(href="#") 1
                        li
                            a(href="#") 2
                        li
                            a(href="#") 3
                        li
                            a.next(href="#") Next
            .col-3
                .shop-sidebar
                    .sidebar-category.mt28
                        h3 Custom Category
                        ul.categories
                            li
                                a(href="#") Delivery
                            li
                                a(href="#") Legal Notice
                            li
                                a(href="#") Secure payment
                            li
                                a(href="#") Sitemap
                            li
                                a(href="#") About us
                    .sidebar-category.mt28
                        h3  Categories
                        ul.categories
                            li
                                a(href="#") 
                                    | Best Sellers 
                                    span (8)
                            li
                                a(href="#") 
                                    | Feature 
                                    span (9)
                            li
                                a(href="#") 
                                    | New
                                    span (8)
                    .sidebar-color.mt28
                        h3 Color
                        ul.color-list
                            li#red.active
                                span.red
                                | Red
                            li#green
                                span.green
                                | Green
                            li#blue
                                span.blue
                                | Blue
                            li#yellow
                                span.yellow
                                | Yellow
                            li#white
                                span.white
                                | White
                            li#gold
                                span.gold
                                | Gold
                    .sidebar-size.mt28
                        h3 Size
                        ul.size-list
                            li
                                a#s.active(href="#s" target="_parent" ) S
                            li
                                a#m(href="#m" target="_parent") M
                            li
                                a#l(href="#l" target="_parent") L
                            li
                                a#xl(href="#xl" target="_parent") XL
                            li
                                a#xxl(href="#xxl" target="_parent") XXL
                    .sidebar-banner.mt28
                        a(href="#")
                            img(src="./image/banner-2.jpg", alt="")
                    .sidebar-product.mt28
                        h3 top rated product
                        ul.product-list
                            li
                                .single-mini-product
                                    .product-image
                                        a(href="single.html")
                                            img(src="./image/product-8.jpg", alt="")
                                    .product-content
                                        h4.name
                                            a(href="#") Lity Majesty Palm
                                        .vote
                                            ul.voted
                                                li
                                                    i.fas.fa-star
                                                li
                                                    i.fas.fa-star
                                                li
                                                    i.fas.fa-star
                                                li
                                                    i.fas.fa-star
                                                li
                                                    i.fas.fa-star
                                        .price
                                            span.old $29.00
                                            span.new $20.00
                            li
                                .single-mini-product
                                    .product-image
                                        a(href="single.html")
                                            img(src="./image/product-5.jpg", alt="")
                                    .product-content
                                        h4.name
                                            a(href="#") Summer Savory
                                        .vote
                                            ul.voted
                                                li
                                                    i.fas.fa-star
                                                li
                                                    i.fas.fa-star
                                                li
                                                    i.fas.fa-star
                                                li
                                                    i.fas.fa-star
                                                li
                                                    i.fas.fa-star
                                        .price
                                            span.old $85.00
                                            span.new $40.00
                            li
                                .single-mini-product
                                    .product-image
                                        a(href="single.html")
                                            img(src="./image/product-7.jpg", alt="")
                                    .product-content
                                        h4.name
                                            a(href="#") Sweet Alyssum
                                        .vote
                                            ul.voted
                                                li
                                                    i.fas.fa-star
                                                li
                                                    i.fas.fa-star
                                                li
                                                    i.fas.fa-star
                                                li
                                                    i.fas.fa-star
                                                li
                                                    i.fas.fa-star
                                        .price
                                            span.new $20.00
                    .sidebar-tags.mt28
                        h3 tags
                        ul.tag-list
                            li
                                a#black-tag.active(href="#" target="_self") black
                            li
                                a#blue-tag(href="#") blue
                            li
                                a#fiber-tag(href="#") fiber
                            li
                                a#gold-tag(href="#") gold
                            li
                                a#gray-tag(href="#") gray
                            li
                                a#green-tag(href="#") green
                            li
                                a#none-tag(href="#") |
                            li
                                a#leather-tag(href="#") leather                            
script.
     $('#grid').click(function(){
        $('#grid').addClass('active')
        $('#list').removeClass('active');
        $('#grid-product').removeClass('hiden');
        $('#list-product').addClass('hiden');
    })
     $('#list').click(function(){
        $('#list').addClass('active')
        $('#grid').removeClass('active');
         $('#grid-product').addClass('hiden');
        $('#list-product').removeClass('hiden');
    })
     $('#s').click(function(){
        $('#s').addClass('active');
        $('#m').removeClass('active');
        $('#l').removeClass('active');
        $('#xl').removeClass('active');
        $('#xxl').removeClass('active');
    })
     $('#m').click(function(){
        $('#m').addClass('active');
        $('#s').removeClass('active');
        $('#l').removeClass('active');
        $('#xl').removeClass('active');
        $('#xxl').removeClass('active');
    })
     $('#l').click(function(){
        $('#l').addClass('active');
        $('#m').removeClass('active');
        $('#s').removeClass('active');
        $('#xl').removeClass('active');
        $('#xxl').removeClass('active');
    })
     $('#xl').click(function(){
        $('#xl').addClass('active');
        $('#m').removeClass('active');
        $('#l').removeClass('active');
        $('#s').removeClass('active');
        $('#xxl').removeClass('active');
    }) 
     $('#xxl').click(function(){
        $('#xxl').addClass('active');
        $('#m').removeClass('active');
        $('#l').removeClass('active');
        $('#xl').removeClass('active');
        $('#s').removeClass('active');
    })
    $('#red').click(function(){
        $('#red').addClass('active');
        $('#green').removeClass('active');
        $('#blue').removeClass('active');
        $('#yellow').removeClass('active');
        $('#white').removeClass('active');
        $('#gold').removeClass('active');
    })
     $('#green').click(function(){
        $('#green').addClass('active');
        $('#red').removeClass('active');
        $('#blue').removeClass('active');
        $('#yellow').removeClass('active');
        $('#white').removeClass('active');
        $('#gold').removeClass('active');
    })
     $('#blue').click(function(){
        $('#blue').addClass('active');
        $('#green').removeClass('active');
        $('#red').removeClass('active');
        $('#yellow').removeClass('active');
        $('#white').removeClass('active');
        $('#gold').removeClass('active');
    })
     $('#yellow').click(function(){
        $('#yellow').addClass('active');
        $('#green').removeClass('active');
        $('#blue').removeClass('active');
        $('#red').removeClass('active');
        $('#white').removeClass('active');
        $('#gold').removeClass('active');
    })
     $('#white').click(function(){
        $('#white').addClass('active');
        $('#green').removeClass('active');
        $('#blue').removeClass('active');
        $('#yellow').removeClass('active');
        $('#red').removeClass('active');
        $('#gold').removeClass('active');
    })
     $('#gold').click(function(){
        $('#gold').addClass('active');
        $('#green').removeClass('active');
        $('#blue').removeClass('active');
        $('#yellow').removeClass('active');
        $('#white').removeClass('active');
        $('#red').removeClass('active');
    })
