.experts.pd5
    .container 
        .title
            h2 Flower Experts
            p A perfect blend of creativity, energy, communication, happiness and love. Let us arrange a smile for you.
        .experts-content
            .single-expert 
                .image
                    img(src="./image/team-1.jpg", alt="")
                .info
                    h4.name Marcos Alonso
                    p Biologist
            .single-expert 
                .image
                    img(src="./image/team-2.jpg", alt="")
                .info
                    h4.name Shara friken
                    p Photographer
            .single-expert 
                .image
                    img(src="./image/team-3.jpg", alt="")
                .info
                    h4.name Torvi greac
                    p Founder
            .single-expert 
                .image
                    img(src="./image/team-4.jpg", alt="")
                .info
                    h4.name  Alonso Gomej
                    p Florist
